<%= form_with(model: attendee, local: true) do |form| %>
  <% if attendee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
      <% attendee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-center left">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field text-center left">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field text-center left">
    <input type="hidden" name="attendee[event_uri]" id="attendee_event_uri" value="<%= @event.uri%>">
  </div>

  <div class="actions text-center">
    <input type="submit" name="name" value="Check In" data-disable-with="Create Attendee">
  </div>
<% end %>