<p id="notice"><%= notice %></p>

<h1>Events</h1>
<p class="text-muted">This page is inteneded for debugging purposes only, and will not be included in the production build</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Starts In</th>
      <th>Creator</th>
      <th>Contact email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %>  </td>
        <td><%= event.location %>  </td>
        <td><%= time_until(event.start, event.end) %> </td>
        <td><%= event.creator %>  </td>
        <td><%= event.contact_email %>  </td>
        <td><%= link_to 'Show', event %>  </td>
        <td><%= link_to 'Edit', edit_event_path(event) %> </td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>  </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
