<div class="jumbotron">
  <h4 class="display-3 text-center">Event Created Successfully!</h4>
  <p class="lead big text-center">
    Here's Your Checkin URL!
    <br>
     <a href="<%=url_for(only_path: false, controller: 'events', action:'uri_find', uri: @event.uri)%>"><%=url_for(only_path: false, controller: 'events', action:'uri_find', uri: @event.uri)%></a>
  </p>
  <p class="lead text-muted up text-center">Give this url to your attendees so they can check in!</p>
</div>
