/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * 
 */

@import "bootstrap";

$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136,
  "secondary": color-yiq(#0074d9),
);

.indent{ 
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
 }

.left-content {
  border-right: 1px solid #333;
  padding-right: 35px;
}

td, th {
  padding-left: 10px;
}

.event-box {
  background: #EEE;
  padding: 10px;
  p {
    color: blue;
  }
}

.event-box-child {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
}

.big{
  font-size: 30px;
}

.up{
  margin-top: -10px;
}

.left {
  margin-left: -25%;
}

.down{
  margin-bottom: 7px;
}

form{
  label{
    font-size: 20px;
    text-align: right;
    width: 20%;
  }
  input[type=text]{
    width: 250px;
    padding: 4px;
    margin-left: 10px;
  }
  input[type=submit]{
    
  }
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.field_with_errors{
    label{
      color: red;
    }
    display: inline;
  }

#error_explanation{
  h2{
    font-size: 20px;
  }
  margin: auto;
  width: 70%;
  border: 3px solid red;
  padding: 10px;
  margin-bottom: 20px;
}
